.cart {
	width: 100%;
	padding: 1rem;
	border-radius: 10px;
	background-color: white;
}

.cart-item {
	width: 95%;
	margin: 0 auto 1rem;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px 0 $color-secondary-bg;

	&__info {
		text-align: right;
	}

	&__supplements {
		margin: 1rem 0;
	}
}

.cart__actions {
	display: flex;
	justify-content: flex-end;
}

.button--close-cart {
	padding: 1rem;
}
